@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.title {
    margin: 3rem;
    margin-bottom: 2rem;
}

.featureList {
    margin-bottom: 1rem;
    width: 50%;
    text-align: center;
}

.featureList li {
    margin: 0.5rem;
    list-style: none;
}

.bubbleMenu {
    background-color: #212121;
    padding: 0.3rem 0.6rem;
    border-radius: 3px;
    margin-left: 3rem;
}

.bubbleButton {
    color: white;
}

.bubbleButton:hover {
    background-color: darkgrey;
    color: black;
}

.menuEditorContainer {
    border-radius: 3px;
    padding: 0.5rem 1rem;
}

.editorContainer {
    height: 100vh;
    width: 100vw;
    display: flex;    
    flex-flow: column;
    align-items: center;
}

.menuContainer {
    display: flex;
}

.ProseMirror {
    width: 100%;
    width: 55vw;
    height: auto;
    min-height: 20rem;
    text-overflow: wrap;
    border: 1px solid rgb(218, 217, 217); 
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 3px;
    text-align: left;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
}

.ProseMirror:focus {
    outline: none;
}

.ProseMirror img {
    display: inline;
    max-width: 50%;
    align-self: center;
}

.ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #cdd1d4;
    pointer-events: none;
    height: 0;
}

.buttonDefault {
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    margin: 0.3rem;
    background-color: transparent;
}

.buttonDefault:hover {
    background-color: lightgrey;
    border-radius: 3px;
    border: none;
}

.isActive {
    background-color: pink;
    padding: 0.5rem;
    border-radius: 3px;
}

.buttonPrimary {
    background-color: pink;
    padding: 0.5rem;
    border-radius: 3px;
    border: none;
    margin: 0.3rem;
}

.buttonSecondary {
    border: 2px solid pink;
    background-color: white;
    padding: 0.5rem;
    border-radius: 3px;
    margin: 0.3rem;
}

.blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0D0D0D, 0.1);
}

a {
    cursor: pointer;
}

.modalContainer {
    position: relative;
}

.modal {
    position: absolute;
    width: 28rem;
    height: 10rem;
    border-radius: 3px;
    border: 1px solid grey;
    top: 30%;
    right: 35%;
    left: 38%;
    bottom: 10%;
    margin-right: -50%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.inputContainer p {
    margin-left: 0.5rem;
}

.inputContainer input {
    padding: 0.5rem 0.5rem;
    width: 18rem;
}

.inputButtons {
    display: flex;
    justify-content: flex-end;
}

.badge {
    position: absolute;
    top: 3%;
    right: 3%;
}

.badge a {
    color: black;
    text-decoration: none;
}

.smallMeme {
    height: 10px;
    width: auto;
}